---
import Layout from '../layouts/Layout.astro';
import { db, Alumno } from 'astro:db';
// import Card from '../components/Card.astro';
if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  
  const nombre = formData.get('nombre');
  const apellido = formData.get('apellido');
  const dni = formData.get('dni');
  const curso = formData.get('curso');
  
  if (typeof nombre === 'string' && 
  	  typeof apellido === 'string' && 
  	  typeof dni === 'string' && 
	  typeof curso === 'string') {
    await db.insert(Alumno).values({ nombre, apellido, dni, curso });
  }
}


---
<Layout title="Welcome to Astro.">
	<main>
		<Layout title="Control de asistencia">
			<main>
				<form method="POST" style="display: grid">
					<label for="nombre">Nombre:</label><br>
					<input type="text" id="nombre" name="nombre"><br>
					<label for="apellido">Apellido:</label><br>
					<input type="text" id="apellido" name="apellido"><br>
					<label for="dni">DNI:</label><br>
					<input type="text" id="dni" name="dni" pattern="\d{12}" title="Por favor ingrese un número de 12 dígitos"><br>
					<label for="comision">Comisión:</label><br>
					<select id="comision" name="comision">
						<option value="3">Comisión 3</option>
						<option value="4">Comisión 4</option>
						<option value="5">Comisión 5</option>
						<option value="9">Comisión 9</option>
					</select><br>
					<input type="submit" value="Registrar">
				</form>
			</main>	
		</Layout>	
	</main>	
</Layout>
</Layout>